/* CSS Document */

body{
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CCC;	
}

.all_site{
	max-width:960px;
	min-height:500px;
	margin:0 auto;
	background-color:white;	
}

.ui{
	height:90px;
	width:100%;
	padding:10px;
	font-size:1.5em;	
}

.game{
	height:500px;
	width:100%;
	background-image:url(../_image/background.png);
	background-size:100% 100%;
	position:relative;	
}

.game .sonic{
	position:absolute;
	top:350px;
	left:50px;	
	transition:0.8s;
}

.game .ring1{
	position:absolute;
	top:396px;
	left:300px;	
	transition:0.8s;	
}

.game .ring2{
	position:absolute;
	top:396px;
	left:500px;	
	transition:0.8s;	
}

.game .ring3{
	position:absolute;
	top:396px;
	left:700px;	
	transition:0.8s;	
}

.gamepad{
	text-align:center;
		width:100%;
		height:100px;
}

.gamepad button{
	width:50px;
	height:50px;	
}