/* CSS Document */

@font-face{
	font-family: 'angry';
	font-style:normal;
	font-weight:400;
	src:url(../_fonts/angrybirds.ttf) format('truetype');
}

body{
	margin:0;
	background-color:#CCC;
	font-family: 'angry';
}

.all_site{
	width:960px;
	min-height:500px;
	margin:0 auto;
	background-color:white;
	padding:10px;
}

.box_orange{
	width:200px;
	height:200px;
	background-color:orange;
	color:black;
	transition:0.8s;
	float:left;
}

.box_orange:hover{
	background-color:#90C;
	color:white;
	/*width:400px;*/
	/*transform:scale(0.5,0.5);*/
	/*transform:translate(20px, 10px);*/
	/*transform:rotate(360deg);*/
	/*transform:rotateY(180deg);*/
	/*transform:skew(5deg,0);*/
	transform:skew(5deg,0) 	scale(0.5,0.5);
}