/* CSS Document */

body{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:1.3em;
	background-image:url(../_images/background_gallery.jpg);
}

.all_site{
	width:930px;
	margin:0 auto;
	padding:15px;
	background-color:rgba(114,209,255,0.5);	
}

td{
	background-color:rgba(255,255,255,0.5);
}

h1{
	text-decoration:underline;
	background-color:rgba(255,255,255,0.5);
}

.back{
	background-color:rgba(255,255,255,0.7);
}