/* CSS Document */
body{
	 margin:0;	
}


.all_site{
	width:900px;
	margin:0 auto;
	background-color:grey;	
	border:2px solid black;
}

.box1{
	width:200px;
	height:200px;
	background-color:red;	
	float:left;
}

.box2{
	width:200px;
	height:200px;
	background-color:yellow;
	float:left;	
}

.box3{
	width:200px;
	height:200px;
	background-color:#0C0;
	float:left;	
}

p.clear{
	clear:both;	
}