

.all_site > h2{
	color:red;
	/*משפיע על תגית שהיא בת ישירה של האול סייט מסוג אייץ' 2*/
}

.all_site h2+p{
	/*color:blue;	*/
	/*משפיע על הפי הראשון שהוא אח ישיר של האיץ' 2*/
}

.all_site h2~p{
	/*background-color:yellow;*/
	/*משפיע על כל הפי שהו אח ישיר של איץ' והוא מתחת לתגית*/
}

.all_site img[width*="199"][src*="5"]
{
	border:4px solid orange;	
}

.all_site > p:nth-of-type(3n+2)
{
	background-color:red;	
}

.all_site table tr:nth-of-type(2n+1)
{
	background-color:#CCC;	
}